.footer {
    display: flex;

    padding: 30px;
}
.footer > .footer__links {
    margin: auto;
}
.footer > .footer__links > a {
    color: #5c5e62;
    font-size: 12px;
    font-weight: bold;

    letter-spacing: 0.5px;

    padding: 7px;
}

@media only screen and (max-width: 700px) {
    .footer > .footer__links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}